:root {
  font-size: 25px;
  font-family: "Open Sans";
  --text-primary: #e3e3e3;
  /*--text-secondary: #ececec;*/
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}
body {
  
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  margin-left: 5rem;
  padding-bottom: 4rem;
}

.navbar {
  position: fixed;
  background-color: #4F7BFF;
  transition: width 500ms ease;
  overflow: hidden;
  z-index: 10;
  border-radius: 0px 0.9rem .9rem 0px;
  box-shadow: 8px 7px 10px 0 rgb(0 0 0 / 16%), 0 7px 10px 0 rgb(0 0 0/ 10%);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: var(--text-secondary);
  background: #0066ff;
}


.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  color: var(--text-primary);
  margin: 0 1.5rem;
}

.nav-link:hover svg{
  color: white;  
}

#auto{
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

#auto svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: var(--text-primary)
}

#auto:hover  {
  color: white;
  background: #0066ff;
}

#auto:hover svg{
  color:white ;
}

.arrow svg {
  transition: var(--transition-speed);
}

.btn-tlb{
  border: none;
  background-color: #4F7BFF;
  padding: 0;
  width: 100%;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
   
    margin-top: 20%;
  }

  

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 9rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
.main{
  position: absolute;
}



/*Reset zoom button*/

.reset-zoom{
 
  width: 100%;
  height: 100%;
  border:none;
  padding: 0.6rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  cursor: pointer;
  font-weight: bold ;
}
.reset-zoom:hover{
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}
.informations {
  /* margin:auto; */
  display: inline-block;
  width: 7rem;
  height: 100%;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}
.information_label{
  color: #09090973;
  font-size: 17px;
  font-weight: 600;
  padding-right: 2rem;
  margin-left: 0.5rem;
  ;
}
.information_value {

  font-size: 20px;
  font-weight: bold;
  bottom: 100%;
  margin-right: 0.8rem;
  text-align: center;
}


.graph_container {
  width: 100%;
  display: flex;
  height: 100%;
  margin-bottom: 0rem;
  background-color: white;
  border: 1px solid #e3e6f0;
  justify-content: flex-end;
  border-bottom-left-radius:0.6rem;
  border-bottom-right-radius: 0.6rem;
  
  
}
.g{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.toolbar{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  margin-left: 6%;
  margin-right: 8%;
  border-bottom-left-radius:0.6rem;
  border-bottom-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
  border: 2px solid var(--text-secondary);
  box-shadow: 0.1rem 0.2rem 1.8rem 1.1rem rgb(93 81 77 / 30%)
}



.infos{
  height: 100%;
    padding: 0;
    margin: 0;
}

.h100{
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius:0.6rem;
  border-bottom-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}


.header{
  background-color: white;
  margin-left: -5rem;
}

.title{
  text-align: center;
  margin: 0;
  padding: 0;
}

.menu{
  margin-left:-5rem;
  background-color:#4F7BFF ;
  font-size: 30px;
  margin-bottom: 2rem;
  box-shadow: 1px 0rem 2rem 1px rgb(58 59 69 / 87%);
}

.links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 4rem;
}

.toolbar_element{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 12%;
  align-items: center;
    border-radius: 4.35rem;
    background-color: rgb(168 162 162 / 10%);
  
}

.menu-link:hover{
  filter: grayscale(0%) opacity(1);
  color: white;
  background: #0066ff;
}

.menu-link{
  color: var(--text-primary);
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 340%;  
  
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

.link-container{
  height: 100%;
  display: flex;
}

.menu-link svg{
  height: 3rem;
  width: 2rem;
  margin-right: 0.5rem;
  color: var(--text-primary);
  min-width: 2rem;
}

.menu-link:hover svg{
  color: var(--text-secondary);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  transition-delay: 1s;
  position: absolute;
  z-index: 13;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiparr .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  transition-delay: 1s;
  position: absolute;
  z-index: 13;
}


.tooltiparr:hover .tooltiptext {
  visibility: visible;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(125 126 128);
  color: white;
  text-align: center;
  display: flex;
  height: 5%;
  /* align-items: center; */
  flex-direction: row;
}

.footer_element{
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}


.footer_txt{
  font-size: 16px;
  color: #d6d6d6;
}

.footer_txt:after {
  content: '';
  position: absolute;;
  left:4rem;
  top: 25%;
  height: 60%;
  border-right: 1px solid #a1a1a4;
}

.footer_pic{
  height: 100%;
  margin-left: 25px;
}
.sorb{
  height: 75%;
}
.squad{
  height: 80%;
}


.sep:after{
  content: '';
  position: absolute;
  /* bottom: 0px; */
  left: 5%;
  width: 80%;
  border-bottom: 1px solid #3366ff;
}

.link-container::after{
  content: '';
  position: absolute;
  bottom: 0px;
  top: 8%;
  width: 0%;
  height: 8%;
  border-right: 1px solid #3366ff;
}

.card_top{
    width: 100%;
    display: flex;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    font-weight: 700;
    font-size: 1rem;
    color: #4e73df;
    border: 1px solid #e3e6f0;
    justify-content: space-between;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
}


.title{
    
  background-color: #0054ff61;
  color: #1f1e33;
}